[Unit]
Description=KMITL NetAuth Service
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/kmitlnetauth -d
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
