name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libgtk-3-dev libappindicator3-dev libxdo-dev
    - name: Build
      run: cargo build --release --verbose
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: linux-build
        path: target/release/kmitlnetauth

  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --release --verbose
    - name: Install cargo-wix
      run: cargo install cargo-wix
    - name: Create MSI Installer
      run: cargo wix -p kmitlnetauth-tray --nocapture
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: windows-build
        path: |
          target/release/kmitlnetauth.exe
          target/release/kmitlnetauth-tray.exe
          target/wix/*.msi

  build-docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        push: false
        tags: ghcr.io/${{ github.repository }}:latest
